/*
p-0: No padding (0)
p-1: Extra small padding (0.25rem or 4 pixels)
p-2: Small padding (0.5rem or 8 pixels)
p-3: Medium padding (1rem or 16 pixels)
p-4: Large padding (1.5rem or 24 pixels)
p-5: Extra large padding (3rem or 48 pixels)
*/

body{
    margin: 0px;          /* sin margenes a los lados */
    font-family: 'Roboto', sans-serif; /* cuando no funciona la primera, se ocupa la segunda, sino la tercera. estos son los "fallbacks" */
}
body *{                   /* reseteo de etiquetas (*) significa todo, todas las etiquetas dentro de body */
    margin: 0px;
    border: 0px;     /* rich black hexadecimal #RRGGBB*/
    padding: 0px;          /* sin margenes a los lados */
}
.contenedor, .cls-alinear-contacto{
    display: flex;
    flex-direction:row;
}
.cls-border{
    border: 2px solid black;
}
.cls-border-der{
    border-right: 2px solid #c0c0c0;
}
.cls-border-izq{
    border-left: 2px solid #c0c0c0;
}
.cls-border-bottom{
    border-bottom: 2px solid #c0c0c0;
}
.cls-bg-usuarios{
    background-color: white;
}
.cls-width-usuarios{
    width: 20%;
}
.cls-width-usuarios-online{
    width: 20%;
}
.cls-width-nombreestado-online{
    width: 50%;
}
.cls-width-icon-online{
    width: 30%;
}
.cls-width-otros-usuarios{
    width: 40%;
}
.cls-bg-chat{
    background-color:#f0f0f0;
}
.cls-width-chat{
    width: 80%;
}
/**/
.cls-btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
  }
  .cls-bg-lila {background-color: #be9fc3;}
  .cls-bg-lila:hover {background: #be9fc3;}
/**/
.cls-btn-centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.cls-icon-centrado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.cls-usuario{
    font-size: 16px;
}
.cls-online{
    font-size: 12px;
    color:#ababab;
}
.cls-icon-color{
    color:#c0c0c0;
}
div .cls-usuario-encabezado{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.cls-usuarios-vertical{
    display: flex;
    flex-direction: column
}
div .cls-otros-usuarios{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.cls-usuario-centrado{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}
.cls-logo-centrado{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.cls-tamannio-logo{
    width: 300px;
    height: 300px;
}
.cls-puntos-suspensivos{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
.cls-negrita{
    font-weight: bold;
}
.cls-texto-mensaje{
    font-size: 12px;
}
.cls-padding-2{
    padding: 8px;
}
.cls-padding-bottom-3{
    padding-top: 16px;
}
h1{
    font-size: 50px;
}